Manifest.toml
apps
background 
examples
examplesX
internal
work
NewVersionRelease.txt

docs/build
docs/NewDocumentationRelease.txt
demos/mz/
src/*old.jl
src/jac-war*
src/jac-rem*
src/note*
src/quick*
src/test*
src/Read.me
src/xx*
src/zz*
test/files
test/jac-war*
test/test*
test/xtest*
test/run*

zz*
xx*
xold*
.gitignore-local

test-*-new.sum
jac-warn.report
src/.claude/
